body {
    background: rgb(180, 173, 173);
    color: rgb(0, 23, 153);
    margin: 0;
}

h1{
    text-align: center;
    font-size: 250%;
    border: solid 2px wheat;
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
    margin: 20px 50px;
    background-color:rgb(201, 16, 16);
}
h2{
    margin: auto;
}

legend {
    font-size: medium;
    font-weight: bold;
    padding: 0px 10px;
}


button{
    font-size: large;
    border-radius: 15px;
    padding: 10px;
    margin-right: 50px;
}

#color-picker{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#color-picker-set{
    font-weight: bold;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

.grid-set, .color-set{
    border: solid 2px rgb(245, 179, 204);
    margin: 15px 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    border-radius: 25px;
}

.color-set{
    display: inline-flexbox;
    float: inherit;
    padding-bottom: 10px;
}

.grid-set button{
    margin: 5px;
}
.container {
    display: grid;
    border: solid 1px wheat;    
    margin: auto;
}

.grid-cell {
    border: 0.01px solid gray;
    background-color: white;

}

/* switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 50px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:green;
  }
  
 
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  label p{
      text-align: center;
      font-weight: bold;
      margin-top: 20px;
  }

  #draw-area{
      margin-bottom: 20px;
  }